.board {
  background: url("../images/board.png");
  background-size: cover;
  position: absolute;
  top: 45%;
  left: 50%;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 50%;
}
